<h1>Ory Keto Application</h1>
<ol>
  <li>
    <%= link_to "OAuth2", new_ory_oauth_path %>
  </li>
  <li>
    <%= link_to "Check a permission", ory_check_permissions_path %>
  </li>
  <li>
    <%= link_to "View all permissions", ory_permissions_path %>
  </li>
  <li>
    <%= link_to "View all users (Identities)", ory_identities_path %>
  </li>
</ol>
